// Theme colors
$main-color: #ccc;

//Background
$main-background-color:#fff;

// Text colors
$color-text-default: #222;
$color-text-label: #92939a;
$color-text-placeholder: #676871;

// Border colors
$border-color: #3f414b;


